.text-align-last {
  text-align-last: justify;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

@media all and (max-width: 995px) {
  .s_devises {
    display: none;
  }
}

.super_functions {
  text-align: left;
}

.item {
  list-style-type: none;
}

.new_task .row input.form-control, .new_task .row span.input-group-addon, .edit_task .row input.form-control, .edit_task .row span.input-group-addon {
  height: 26px;
  padding: 4px 12px;
}

.new_task .row .status, .edit_task .row .status {
  line-height: inherit;
}

.new_task, .edit_task {
  background-color: #eeeeee;
}

.new_task div.field, .new_task div.actions, .edit_task div.field, .edit_task div.actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.edit_task .actions input {
  padding: 12px 12px;
}

nav.navbar-fixed-top {
  top: 3%;
  right: 30%;
}


nav.navbar-fixed-top ul.nav.nav-pills.pull-right li.set_bg a:hover {
  background-color: #eeeeee;
  color: #333333;
}

nav.navbar-fixed-top ul.nav.nav-pills.pull-right li.set_bg a {
  background-color: #23527c;
  color: #fff;
}

@media all and (max-width: 995px) {
  nav.navbar-fixed-top {
    top: 0;
    right: 0;
    float: none;
  }
  nav.navbar-fixed-top ul {
    float: none !important;
    padding-left: 12%;
  }
  .header h3 {
    margin-top: 5%;
    text-align: center;
  }
  ._2pi8 {
    width: 475px;
  }
}

.list-group-item.item.task .edit_task {
  background-color: transparent;
}

.col-md-3 .col-xs-4 {
  overflow: hidden;
}




