.text-align-last {
  text-align-last: justify;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

@media all and (max-width: 995px) {
  .s_devises {
    display: none;
  }
}

.super_functions {
  text-align: left;
}

.item {
  list-style-type: none;
}

.new_task .row input.form-control, .new_task .row span.input-group-addon, .edit_task .row input.form-control, .edit_task .row span.input-group-addon {
  height: 26px;
  padding: 4px 12px;
}

.new_task .row .status, .edit_task .row .status {
  line-height: inherit;
}

.new_task, .edit_task {
  background-color: #eeeeee;
}

.new_task div.field, .new_task div.actions, .edit_task div.field, .edit_task div.actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.edit_task .actions input {
  padding: 12px 12px;
}