.text-align-last {
  text-align-last: justify;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

@media all and (max-width: 995px) {
  .s_devises {
    display: none;
  }
}

.super_functions {
  text-align: left;
}

.list-group-item.item {
  list-style-type: none;
}
